.dark .order {
	background-image: url(../../assets/images/contact-dark-bg.webp);
	background-size: cover;
	background-repeat: no-repeat;
}



.dark .order form {
	background-color: transparent;
}

.order input::placeholder {
	color: rgb(111, 111, 111);
	font-size: 17px;
}

.order form input,
.order form textarea {
	color: rgb(111, 111, 111);
	font-size: 17px;
	font-weight: 400;
	line-height: 188.5%;
	letter-spacing: 1px;
}

.dark .order .form-box {
	background-color: white;
}

.dark .order .pink-box {
	background-color: #64DCFA;
}

@media screen and (max-width: 992px) {
	.dark .order form {
		background-color: white;
	}

	.dark .order .pink-box {
		background-color: transparent;
	}

	.dark .order .form-box {
		background-color: transparent;
	}

	.dark .order h3 {
		color: white !important;
	}
}

@media screen and (max-width: 800px) {
	.dark .order {
		background-image: none;
	}
}