@media screen and (max-width: 1288px) {
	.service .service-content {
		margin-left: 30px;
	}
}

@media screen and (max-width: 1200px) {
	.service .service-content {
		max-width: 400px;
		margin: 0;
	}

	.service .dots-img {
		bottom: 90px;
	}
}

@media screen and (max-width: 1072px) {
	.service .operator-img {
		max-width: 500px;
	}

	.service .dots-img {
		left: 58%;
		bottom: 195px;
	}
}

@media screen and (max-width: 992px) {
	.service .container {
		margin-left: 0;
	}

	.service .service-content {
		max-width: 600px;
		margin: 0;
		margin-bottom: 42px;
	}

	.service .dots-img {
		left: 24%;
		bottom: -48px;
	}
}

@media screen and (max-width: 630px) {
	.service {
		margin-top: -200px;
		z-index: 100;
		position: relative;
	}

	.service .service-content {
		max-width: 395px;
		margin: 0;
		margin-bottom: 42px;
	}

	.service .operator-img {
		max-width: 309.767px;
		height: 318.543px;
	}

	.service .dots-img {
		left: 10.5%;
		bottom: -64px;
	}
}

@media screen and (max-width: 430px) {
	.service .service-content {
		max-width: 385px;
	}

	.service .operator-img {
		max-width: 305.767px;
		height: 314.543px;
		border-bottom-right-radius: 160px;
	}

	.service .dots-img {
		left: 10%;
		bottom: -67px;
	}

	.service .service-content h3 {
		font-size: 36px;
	}

	.service .service-content p {
		font-size: 12px;
		line-height: 230%;
	}

	.service .service-content p:last-child {
		margin-top: 30px;
	}
}

@media screen and (max-width: 420px) {
	.service .service-content h3 {
		margin-left: 0;
	}

	.service .service-content {
		max-width: 330px;
	}

	.service .service-content p {
		margin-left: 0;
	}
}