.dark .hero-section {
	background-image: url(../../assets/images/dark-twitch.webp);
}

.hero-section {
	background-image: url(../../assets/images/twitch.webp);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


/* media query */
@media screen and (min-width: 1640px) {
	.hero-dots {
		bottom: -162px !important;
		left: -12%;
	}
}

@media screen and (max-width: 768px) {
	.hero-section {
		background-image: url('../../assets/images/media-bg.png');
		background-size: 100% 100%;
	}

	.dark .hero-section {
		background-image: url('../../assets/images/hero-bg-media-dark.png');
		background-size: 100% 100%;
	}
}

@media screen and (max-width: 430px) {
	.hero-dots {
		top: 28% !important;
		bottom: auto !important;
	}
}