.dark .hero-section {
	background-image: url(../../assets/images/dark-twitch.webp);
}

.hero-section {
	background-image: url(../../assets/images/twitch.webp);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

@media screen and (min-width: 1440px) {
	.hero-section {
		background-size: 100% 110%;
	}
	.hero-dots {
		bottom: 95px !important;
	}
}