.header {
	padding-top: 33px;
}

/* footer */
footer {
	background-image: url(/src/assets/images/footer-bg.webp);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 110px;
	padding-top: 226px;
	text-align: center;
	margin-top: 0px;
	background-position: -14px 19px;
}

@media screen and (max-width: 1024px) {
	.media-nav {
		@apply bg-black-pink fixed w-full h-full top-0 left-0 pl-10 pt-10 z-50
	}
}

@media screen and (max-width: 1110px) {
	.theme-mode {
		margin-left: 15px !important;
		margin-right: 15px !important;
	}
}

@media screen and (max-width: 1024px) {
	.theme-mode {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

@media screen and (max-width: 768px) {
	footer {
		background-image: url(../assets/images/footer-media-bg.png);
		padding-top: 335px;
	}
}

@media screen and (max-width: 430px) {
	footer {
		padding-top: 235px;
		padding-bottom: 106px;
		margin-top: 0;
	}
}